<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="تطبيق الاستبيان لإدارة الأسئلة والكيانات بسهولة" />
    <meta name="keywords" content="استبيان, إدارة الأسئلة, تقارير, لوحة المستخدم, تطبيق" />
    <meta name="author" content="Your Organization" />
    <title>{% block title %}تطبيق الاستبيان{% endblock %}</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap" rel="stylesheet"/>
    
    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.0/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>


  

  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="layout-nav">
      <!-- زر القائمة في وضع الجوال -->
      <div class="menu-toggle-icon">
        <input type="checkbox" id="menuToggleCheckbox">
        <label for="menuToggleCheckbox"><i class="fas fa-bars"></i></label>
      </div>
      <h4 class="mb-0 text-white">لوحة التحكم</h4>
    </div>
    
    <!-- الشريط الجانبي -->
    <div class="sidebar" id="sidebar">
      <div class="sidebar-menu mb-4">
        <div class="menu-toggle-icon">
          <input type="checkbox" id="menuToggleCheckbox">
          <label for="menuToggleCheckbox"><i class="fas fa-bars"></i></label>
        </div>
        <h5 id="sidebarTitle text-white" style="color:#fff">لوحة التحكم</h5>
      </div>
      <div class="sidebar-content">
        <a href="{% url 'home' %}" class="active">
          <i class="fas fa-home"></i><span>الرئيسية</span>
        </a>
        <h6>الاحصائيات</h6>
        <a href="{% url 'dashboard' %}">
          <i class="fas fa-chart-pie"></i><span>الاحصائيات</span>
        </a>
        <h6>إدارة الاسئلة</h6>
        <a href="{% url 'add_question' %}">
          <i class="fas fa-plus-circle"></i><span>إضافة سؤال</span>
        </a>
        <a href="{% url 'questions_list' %}">
          <i class="fas fa-list"></i><span>عرض جميع الأسئلة</span>
        </a>
        <h6>إدارة الكيانات</h6>
        <a href="{% url 'create_entitys' %}">
          <i class="fas fa-building"></i><span>إنشاء كيان جديد</span>
        </a>
        <a href="{% url 'entity_list' %}">
          <i class="fas fa-list-alt"></i><span>عرض جميع الكيانات</span>
        </a>
        <h6>تقارير</h6>
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'answer_report' %}">
          <i class="fas fa-chart-bar"></i><span>تقرير بحسب الإجابة</span>
        </a>
        <a href="{% url 'question_report' %}">
          <i class="fas fa-chart-pie"></i><span>تقرير بحسب السؤال</span>
        </a>
        {% endif %}
        <h6>إدارة المستخدمين</h6>
        <a href="{% url 'create_user' %}">
          <i class="fas fa-user-plus"></i><span>إنشاء مستخدم جديد</span>
        </a>
        <a href="{% url 'group_list' %}">
          <i class="fas fa-users"></i><span>المجموعات</span>
        </a>
        <a href="{% url 'user_list' %}">
          <i class="fas fa-user"></i><span>المستخدمين</span>
        </a>
        <a href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt"></i><span>تسجيل الخروج</span>
        </a>
      </div>
    </div>
    {% endif %}
    
    <!-- محتوى الصفحة -->
    <div class="content" id="content">{% block content %}{% endblock %}</div>
    
    {% block extra_js %}{% endblock %}
    {% comment %} <script>
      document.addEventListener("DOMContentLoaded", () => {
        const sidebar = document.getElementById("sidebar");
        const content = document.getElementById("content");
        const sidebarToggleBtn = document.getElementById("overlayBtn");
        const sidebarTitle = document.getElementById("sidebarTitle");

        if (localStorage.getItem("sidebarCollapsed") === "true") {
          sidebar.classList.add("collapsed");
          content.classList.add("collapsed");
          sidebarTitle.style.display = "none";
        }

        sidebarToggleBtn.addEventListener("click", function () {
          sidebar.classList.toggle("collapsed");
          content.classList.toggle("collapsed");
          sidebarTitle.style.display = sidebar.classList.contains("collapsed")
            ? "none"
            : "block";

          localStorage.setItem(
            "sidebarCollapsed",
            sidebar.classList.contains("collapsed")
          );
        });
      });
    </script> {% endcomment %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sidebar = document.getElementById("sidebar");
        const content = document.getElementById("content");
        const menuToggleCheckbox = document.getElementById("menuToggleCheckbox");
      
        // استرجاع حالة التثبيت من LocalStorage
        const isPinned = localStorage.getItem("sidebarPinned") === "true";
      
        // تحديث حالة الشريط الجانبي بناءً على LocalStorage
        function updateSidebarState() {
          if (isPinned) {
            sidebar.classList.remove("collapsed");
            content.classList.remove("collapsed");
            menuToggleCheckbox.checked = true;
          } else {
            sidebar.classList.add("collapsed");
            content.classList.add("collapsed");
            menuToggleCheckbox.checked = false;
          }
        }
        updateSidebarState();
      
        // عند تغيير checkbox
        menuToggleCheckbox.addEventListener("change", function () {
          const isChecked = menuToggleCheckbox.checked;
          if (isChecked) {
            sidebar.classList.remove("collapsed");
            content.classList.remove("collapsed");
            localStorage.setItem("sidebarPinned", "true");
          } else {
            sidebar.classList.add("collapsed");
            content.classList.add("collapsed");
            localStorage.setItem("sidebarPinned", "false");
          }
        });
      
        // ضبط الوضع الافتراضي عند تغيير حجم الشاشة
        function handleResize() {
          if (window.innerWidth <= 768) {
            sidebar.classList.add("collapsed");
            content.classList.add("collapsed");
          } else if (!isPinned) {
            sidebar.classList.remove("collapsed");
            content.classList.remove("collapsed");
          }
        }
        window.addEventListener("resize", handleResize);
        handleResize();
      });
      
    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>